table{
    border: 1px solid #ddd;
    thead{
        th{
            text-align: left;
            padding: 14px;
        }
    }
    tbody{
        tr{
            &:nth-child(odd){
                background-color: #f7f7f7;
            }
            td{
                padding: 14px;
            }
        }
    }
   
}